<configuration>

    //переменная которая содержит текущее время
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    //конфигурация для добавления в файл
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        //используем переменную в названии файла bySecond
        <file>test-${bySecond}.log</file>

        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    //конфигурация файла
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        //указали что инф-ия будет сохраняться в файл + выводиться на консоль
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>